<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:insert="fragments/header :: header (title='Ticket Saved')"></head>
<body>
    <div th:insert="fragments/header :: navBar"></div>
    <div class="container">
        <h1>TICKET SAVED</h1>
        <a href="/">Back to homepage</a>
        <div th:insert="fragments/footer :: footer"></div>
    </div>
</body>
</html>