<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:insert="fragments/header :: header (title=${ticket.id})"></head>
    <body>
        <div th:insert="fragments/header :: navBar"></div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-6">
                    <h1 th:text="${ticket.name}">Ticket Name</h1>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p>Assigned User: 
                            <a th:href="@{/user/{id}(id = ${ticket.assignedUser.userId})}">
                                <span th:text="${ticket.assignedUser.userName}">
                                    Assigned User
                                </span>
                            </a>
                        </p>
                    </div>
                    <div class="row">
                        <p>Created By: 
                            <a th:href="@{/user/{id}(id = ${ticket.createdByUser.userId})}">    
                                <span th:text="${ticket.createdByUser.userName}">
                                    Creator
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-10 border border-2 border-dark rounded-2">
                    <p th:text="${ticket.description}" >
                        DESCRIPTION
                    </p>
                </div>
                <div class="col-2">
                    <div th:switch="${ticket.status}">
                        <div class="d-grid" th:case="${T(eu.adamzrc.ticketSystemHTML.models.Status).NEW}">
                            <button href="#" class="btn btn-primary">NEW</button>
                        </div>
                        <div class="d-grid" th:case="${T(eu.adamzrc.ticketSystemHTML.models.Status).IN_PROGRESS}">
                            <button href="#" class="btn btn-success">IN PROGRESS</button>
                        </div>
                        <div class="d-grid" th:case="${T(eu.adamzrc.ticketSystemHTML.models.Status).FINISHED}">
                            <button href="#" class="btn btn-info">FINISHED</button>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-danger" data-bs-toggle='modal' data-bs-target='#exampleModal'>DELETE</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">TICKET WILL BE DELETED</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this ticket?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                        <form id="deleteTicket" th:action="@{/tickets/{id}/delete(id = ${ticket.id})}" th:object="${ticket}" method="POST">
                                            <input type="submit" value="DELETE" class="btn btn-danger">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="fragments/footer :: footer"></div>
        </div>
    </body>
</html>