@import "colors";
@import "screens";

$h2-height: 75px;
$footer-height: 56px;
$font-top: "Play", sans-serif;
$font-main: "Roboto", sans-serif;

@mixin h1h2Style {
  height: $h2-height;

  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 74px;
  /* identical to box height */

  text-align: center;
}

body {
  font-family: $font-main;
  color: black;
}

h1 {
  @include h1h2Style();

  color: #ffffff;
}

h2 {
  @include h1h2Style();

  color: #000000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-primary-1;
}

nav {
  position: absolute;
  width: 100%;
  height: 56px;
  // left: 0px;
  // top: 0px;
  font-family: "Play", sans-serif;

  background: linear-gradient(
    180deg,
    #bdbfee 0%,
    $color-primary-4 0.01%,
    $color-primary-1 100%
  );

  .show {
    background-color: $color-primary-1;
  }
  .navbar-brand {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}

.homepage-row {
  background: #14333c;
  border-radius: 20px;
  &.homepage-banner {
    align-items: center;
    height: $h2-height + 200;
    @media screen and (min-width: $phone) {
      height: $h2-height + 150;
    }
    @media screen and (min-width: $tablet) {
      height: $h2-height + 100;
    }
  }
}

.page-container {
  background-color: $color-background;
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: $footer-height;
}

.tech-img {
  position: relative;
  height: 10em;
  img {
    top: 25%;
    left: 25%;
    height: 100%;
  }
}

li .nav-item {
  color: white;
}
