<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:insert="fragments/header :: header (title=${user.firstName + ' ' + user.lastName})"></head>
<body>
    <div th:insert="fragments/header :: navBar"></div>
    <div class="container">
        <div class="row">
            <h2>
                <span th:text="${user.firstName + ' ' + user.lastName}">
                    FirstName LastName
                </span>
                <small class="text-muted">
                    (
                        <span th:text="${user.username}">
                            username
                        </span>
                    )
                </small>
            </h2>
        </div>
        <p>birth day: <span th:text="${user.birthDate}">DATE</span></p>
        <a name="" id="" class="btn btn-primary" th:href="@{/user/edit/{id}(id = ${user.userId})}" role="button">EDIT</a>
        <a name="" id="" class="btn btn-primary" th:href="@{/user/delete/{id}(id = ${user.userId})}" role="button" sec:authorize="hasAuthority('ADMIN')">DELETE</a>
        <div th:if="${!subordinates.empty}">
            <h2>Subordinates</h2>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>username</th>
                        <th>Profile</th>
                        <th>Number of tickets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${subordinates.empty}">
                        <td colspan="4">NO SUBORDINATES</td>
                    </tr>
                    <tr th:each="subordinate : ${subordinates}">
                        <td><span th:text="${subordinate.firstName + ' ' + subordinate.lastName}">firstName lastName</span></td>
                        <td><span th:text="${subordinate.username}">username</span></td>
                        <td><a th:href="@{/user/{username}(username = ${subordinate.username})}" class="btn btn-primary">PROFILE</a></td>
                        <td><span th:text="${#lists.size(subordinate.tickets)}">numberOfTickets</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Assigned tickets</h2>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created on</th>
                    <th>Due on</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${tickets.empty}">
                    <td colspan="5">NO TICKETS ASSIGNED</td>
                </tr>
                <tr th:each="ticket : ${tickets}">
                    <td><a th:href="@{/tickets/{id}(id = ${ticket.id})}"><span th:text="${ticket.id}">ID</span></a></td>
                    <td><span th:text="${ticket.dateCreated}">CREATED</span></td>
                    <td><span th:text="${ticket.dueDate}">DUE</span></td>
                    <td><span th:text="${ticket.name}">Subject</span></td>
                    <td><span th:text="${ticket.status}">Status</span></td>
                </tr>
            </tbody>
        </table>
        <h2>Created tickets</h2>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created on</th>
                    <th>Due on</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${createdTickets.empty}">
                    <td colspan="5">NO CREATED TICKETS</td>
                </tr>
                <tr th:each="ticket : ${createdTickets}">
                    <td><a th:href="@{/tickets/{id}(id = ${ticket.id})}"><span th:text="${ticket.id}">ID</span></a></td>
                    <td><span th:text="${ticket.dateCreated}">CREATED</span></td>
                    <td><span th:text="${ticket.dueDate}">DUE</span></td>
                    <td><span th:text="${ticket.name}">Subject</span></td>
                    <td><span th:text="${ticket.status}">Status</span></td>
                </tr>
            </tbody>
        </table>
        <div th:insert="fragments/footer :: footer"></div>
    </div>
</body>
</html>