<!DOCTYPE html>
<html 
lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="fragments/header :: header (title='404')"></head>
<body>
    <div class="container mt-5">
        <div class="bg-dark text-secondary px-4 py-5 mt-2 text-center rounded-3">
            <h1 class="display-5 fw-bold text-white">404</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-white">WOOPS. Seems like this page does not exist</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a th:href="@{/}" class="btn btn-primary">GO BACK HOME</a>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>