<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/header :: header (title='HomePage')"></head>
<body>
    <div th:insert="fragments/header :: navBar"></div>
    <div class="bg-dark text-secondary px-4 py-5 mt-2 text-center">
        <h1 class="display-5 fw-bold text-white">TICKET SYSTEM</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">Welcome to my Ticket System DEMO app</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="user" class="btn btn-primary">show all users</a>
                <a href="user/add" class="btn btn-outline-primary">add new user</a><br><br>
            </div>
            <br>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="tickets" class="btn btn-primary">show all tickets</a>
                <a href="tickets/add" class="btn btn-outline-primary">create new ticket</a>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>